Intro and explanation

In [1]:
import os
os.chdir('../')


import ossPyFuncs
import pandas as pd
import wordcloud
import re
import matplotlib.pyplot as plt

import numpy as np

Describe cleaning process

In [2]:
#perform sql query to get company column
postgreSql_selectQuery="SELECT company FROM gh.ctrs_raw ;"
inputRaw=ossPyFuncs.queryToPDTable(postgreSql_selectQuery)

currentDir=os.path.dirname('ossPyFuncs.py')
replaceList=pd.read_csv(os.path.join(currentDir,'keyFiles/expandAbrevs.csv'),quotechar="'",header=None)
semiCleanedOutput=pd.DataFrame(ossPyFuncs.expandFromColumn(inputRaw['company'],replaceList))

#obtain the eralse list
currentDir=os.path.dirname('ossPyFuncs.py')
eraseList=pd.read_csv(os.path.join(currentDir,'keyFiles/eraseStrings_v6.csv'),quotechar="'")
#apply the erase list
semiCleanedOutput=pd.DataFrame(ossPyFuncs.eraseFromColumn(semiCleanedOutput['company'],eraseList))

(?i)dept\.
72 items changed
(?i)\bdept
18 items changed
(?i)\buniv\.
84 items changed
(?i)\buni\.
11 items changed
\b(?i)st\.
118 items changed
(?i)inst\.
13 items changed
(?i)u\. of
6 items changed
^[ \t]
710 items changed
https://github\.com
276 items changed
\.github\.io/
39 items changed
\bhttps://
946 items changed
\bwww\.
2493 items changed
/$
1043 items changed
(?i)\.de\b
247 items changed
(?i)\.co\b
562 items changed
(?i)\.io\b
1265 items changed
(?i)\.org\b
626 items changed
(?i)\.br\b
148 items changed
(?i)\.jp\b
96 items changed
(?i)\.dk\b
67 items changed
(?i)\.net\b
851 items changed
(?i)\.nl\b
154 items changed
(?i)\.com\b
8292 items changed
(?i)\.vn\b
33 items changed
(?i)\.cn\b
231 items changed
(?i)\.pm\b
6 items changed
(?i)\.at\b
49 items changed
(?i)\.kr\b
32 items changed
(?i)\.ca\b
73 items changed
(?i)\.it\b
161 items changed
(?i)\.ai\b
251 items changed
(?i)\.la\b
12 items changed
(?i)\.au\b
57 items changed
(?i)\.xyz\b
35 items changed
(?i)\.ru\b
387 items changed
(?i)\.pl\b
142 items changed
(?i)\.gov\b
22 items changed
(?i)\.uk\b
111 items changed
(?i)\.bz\b
3 items changed
(?i)\.ru\b
0 items changed
(?i)\.tv\b
96 items changed
(?i)\.cz\b
113 items changed
(?i)\.pt\b
31 items changed
(?i)\bltd\.
3486 items changed
(?i)\bltd
4930 items changed
(?i)co\.,
1046 items changed
(?i) corp\b
878 items changed
(?i)private limited
204 items changed
(?i) corporation
103 items changed
\bLLP
154 items changed
[ \t]+$
68863 items changed
(?i)L\.p\.
53 items changed
(?i)\binc\.
10600 items changed
(?i)\binc
4482 items changed
(?i)\bLLC\.
348 items changed
(?i)\bLLC
5148 items changed
(?i)L\.L\.C\.
28 items changed
(?i)GmbH & Co. KG
197 items changed
(?i)GmbH & Co KG
34 items changed
(?i)gmbh
4580 items changed
(?i)a\/s
237 items changed
(?i) a\.s\.
80 items changed
 AS\b
587 items changed
(?i) ASA\b
48 items changed
 SAS\b
114 items changed
(?i)\b s\.a\.
286 items changed
(?i)pvt\.
715 items changed
(?i)pvt
752 items changed
(?i)s\.r\.o
306 items changed
(?i)\b b\.v\.
291 items changed
(?i)Sp\. z o\.o\.
81 items changed
(?i)Sp\. z o\.o
6 items changed
(?i)d\.o\.o
151 items changed
(?i)S\.R\.L\.
167 items changed
(?i)S\.R\.L
24 items changed
(?i)SRL\b
407 items changed
(?i) SL\b
76 items changed
(?i)S\.L\.
171 items changed
(?i)S\.L
30 items changed
 AB
1110 items changed
(?i) ag\b
1419 items changed
(?i) pty
394 items changed
(?i) SA\b
176 items changed
(?i) oy\b
380 items changed
(?i) SE\b
297 items changed
(?i) BV\b
215 items changed
(?i) UG\b
151 items changed
(?i) pte\b
170 items changed
 LP\b
103 items changed
\*
104 items changed
@\b
94132 items changed
-$
944 items changed
(?i)\(\)
148 items changed
[ \t]+$
25776 items changed
^[ \t]
87 items changed
\. $
0 items changed
\.$
4092 items changed
, $
71 items changed
,$
9158 items changed

Describe table generation process

In [3]:

#get the counts for the unique values
tableUniqueFullNameCounts=semiCleanedOutput.iloc[:,0].value_counts()
#convert that output to a proper table
tableUniqueFullNameCounts=tableUniqueFullNameCounts.reset_index()

#rename the columns
tableUniqueFullNameCounts.rename(columns={"company":"count","index":"company"},inplace=True)

tableUniqueFullNameCounts.head(n=50)

                       company  count
0                    Microsoft   5834
1                                4247
2                       Google   2773
3                      Red Hat   1894
4                          IBM   1827
5                       google    960
6                   Freelancer    844
7                    Freelance    807
8                     Facebook    787
9                        Intel    693
10                ThoughtWorks    641
11                      Amazon    634
12                     Tencent    546
13                     Student    543
14                     Alibaba    506
15                         SAP    492
16  Carnegie Mellon University    473
17                     Shopify    467
18                        None    451
19                        Esri    437
20                       Baidu    423
21                    facebook    406
22    University of Washington    400
23         Stanford University    394
24                        none    369
25                     Pivotal    351
26                      Yandex    341
27       Microsoft Corporation    338
28         Amazon Web Services    330
29                 UC Berkeley    323
30                  Salesforce    319
31                      Oracle    314
32                         MIT    312
33                     Mozilla    308
34                       Apple    286
35                    LinkedIn    278
36                       Japan    276
37                   Accenture    264
38                     Twitter    257
39                       Adobe    246
40                     Netflix    246
41                         N/A    246
42         Columbia University    245
43         Tsinghua University    245
44                EPAM Systems    243
45                        SUSE    239
46                        Uber    236
47                      VMware    236
48                     alibaba    232
49                        Home    231

In [11]:
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual
from ipywidgets import IntSlider
import seaborn as sns

def findCompanySubstring(companyIndex):
    
    #get all company listings that feature the current company string
    currentBool=tableUniqueFullNameCounts['company'].str.contains( tableUniqueFullNameCounts['company'].iloc[companyIndex])
    #get the indexes associated with those names
    currentIndexes=currentBool[currentBool].index
    
    #find the number of additional individuals that are found with
    #the regex search
    currentIndividualNums=tableUniqueFullNameCounts['count'].iloc[currentIndexes]
   
    #resort the indexes such that the first listing has the
    #most number of employees associated with it
    currentGeusses= tableUniqueFullNameCounts['company'].loc[currentIndexes.sort_values()]
    #make a dataframe
    plotData={'CompanyNames':currentGeusses[np.greater(currentIndividualNums,1)], 'AssociatedPersons':currentIndividualNums[np.greater(currentIndividualNums,1)]}
    plotDataFrame=pd.DataFrame(plotData, columns=['CompanyNames','AssociatedPersons'])
    plotDataFrame.assign()
    
   
    ax=sns.barplot(y='CompanyNames', x='AssociatedPersons', data=plotDataFrame)
    ax.set_xscale('log')
    sns.set(rc={'figure.figsize':(6,.001*len(currentGeusses))})
    plt.show()

def update(companySlider):
    findCompanySubstring(companySlider)
    

interact(update, companySlider=IntSlider(min=0, max=30000, step=1,continuous_update=False))

interactive(children=(IntSlider(value=0, continuous_update=False, description='companySlider', max=30000), Out…